<section class="hero">
  <div class="hero-overlay"></div>
   <img class="background-image" src="/images/hero-background.avif" alt="">
   <div class="hero-cta">
    <h1>Find Your Perfect Commercial Vehicle</h1>
    <p>Rent reliable machinery with transparent pricing and instant booking</p>
    <!-- <button class="cta-button" routerLink="/catalog">Rent Now</button> -->

    <div class="datepicker-section">
  
      <app-datepicker 
      layoutType="default-wrap" 
      [functionality]="['search', null]"
      (startDateChange)="onStartDateChange($event)" 
      (endDateChange)="onEndDateChange($event)"
      ></app-datepicker>
    
      <button (click)="onSearch()" class="search-button">Search</button>

    </div>    

  </div>
</section>

